target
*.iml
.idea
.settings
.project
.classpath
*~
local-test
out
lib
dependency-reduced-pom.xml
hotspot.log
.DS_Store
jboss-server-migration
migration.log
testsuite/server
testsuite/jboss-server-migration
testsuite/server-migration-test-interactive.sh
testsuite/*.log
hs_err_*.log
replay_*.log